$primary: #425b9c;
$primary-hover: #5873b7;
$primary-outline-focus: #425b9c7b;

$black: #1b1b1b;
$gray: #6c6c6c;

$background-color: #eeeae4;

$danger: #D34F73;
$danger-light: #D34F7308;
$danger-text: #A32949;

$warning: #DD9F18;
$warning-text: #9D6C01;

$success: #2ec486;
$success-light: #2ec48602;
$success-text: #176347;